[submodule "modules/nodejs"]
	path = modules/nodejs
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/nodejs.git
[submodule "modules/node_modules"]
	path = modules/node_modules
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/node_modules.git
