[submodule "modules/spellCli"]
	path = modules/spellCli
	url = https://github.com/Spielmeister/spellCli.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/Spielmeister/node_modules.git
